<!--mensagens e erros-->
<ul>
	<% @restaurante.errors.full_messages.each do |msg| %>
	 <li><%=msg%></li>
	 <%end%>
</ul>

<!--#criando formalario com form helps assosiando ao meu restaurante-->
<%= form_for @restaurante, html: {multipart: true} do |f|%><br>
	Nome: <%= f.text_field :nome %><br>
	Endereco: <%= f.text_field :endereco%><br>
	Especialidade: <%= f.text_field :especialidade %><br>
    <%= f.submit 'Grava' %><br>
    <%= f.file_field :foto%>
  <%end%>