<h1>Listagem de restaurante</h1>
<table>
	<tr> 
		<th>ID</th>
		<th>Nome</th>
		<th>Endereço</th>
		<th>Especialidade</th>
		<th>opcao</th>
	</tr>

	
	<% @restaurantes.each do |restaurante| %>
	<tr>
		<td><%= restaurante.id %></td>
		<td><%= restaurante.nome %></td>
		<td><%= restaurante.endereco %></td>
		<td><%= restaurante.especialidade%></td>
		<td><%= link_to 'mostra', action:'show', id:restaurante %></td>
		
		<td><%= link_to 'Editar', action: 'edit', id:restaurante%></td>
	</tr>
	<%end%>
<%= link_to 'Novo', action: 'new'%>

</table>

